@function adaptive-font($max-font-size, $min-font-size) {
  $add-size: $max-font-size - $min-font-size;
  $max-free-width: $desktop-width-count - $mobile-width-count;
  @return calc(#{$min-font-size + px} + #{$add-size} * ((100vw - 680px) / #{$max-free-width}));
}

@mixin adaptive-font-title() {
  font-size: adaptive-font(72, 36);
  line-height: adaptive-font(75.6, 48.3);
}

@mixin font-title-desktop(){
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 800;
}

@mixin adaptive-font-answer() {
  font-size: adaptive-font(36, 24);
}

@mixin font-answer-desktop(){
  font-family: $font-stack;
  font-weight: 600;
  color: $text-title-color;
}

@mixin adaptive-font-question() {
  font-size: adaptive-font(30, 24);
}

@mixin font-question-desktop(){
  font-family: $font-stack;
  font-weight: 300;
  line-height: 125%;
  color: $text-title-color;
}

@mixin adaptive-font-keyboard() {
  font-size: adaptive-font(32, 24);
}

@mixin font-keyboard-desktop(){
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 600;
}

@mixin adaptive-font-attempts() {
  font-size: adaptive-font(60, 24);
}

@mixin font-attempts-desktop(){
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 600;
  line-height: 125%;
}

@mixin adaptive-font-modal-title() {
  font-size: adaptive-font(48, 36);
}

@mixin font-modal-title-desktop() {
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 800;
  line-height: 105%;
}

@mixin adaptive-font-modal-information() {
  font-size: adaptive-font(30, 24);
}

@mixin font-modal-information-desktop() {
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 300;
  line-height: 125%;
}

@mixin adaptive-font-modal-answer() {
  font-size: adaptive-font(36, 24);
}

@mixin font-modal-answer-desktop() {
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 600;
  line-height: 125%;
}

@mixin adaptive-font-modal-button() {
  font-size: adaptive-font(32, 24);
}

@mixin font-modal-button-desktop() {
  font-family: $font-stack;
  color: $text-title-color;
  font-weight: 600;
  line-height: 160%;
}

