.game {
  width: 50%;
  min-width: 580px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @media (max-width: $mobile-width) {
    min-width: 300px;
    width: 100%;
  }

  &__answer {
    display: flex;
    gap: 12px;
    height: 50px;
    align-items: flex-end;
  }

  &__answer-letter {
    width: 5vw;
    max-width: 46px;
    padding: 0 3px;
    margin: 0;
    text-align: center;

    @include answer-style();
    @include font-answer-desktop();
    @include adaptive-font-answer();

    @media (max-width: $mobile-width) {
      width: 7vw;
    }
  }

  &__question-text {
    margin: 0;
    text-align: center;

    @include font-question-desktop();
    @include adaptive-font-question();
  }
}
