.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &__row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2px;
  }

  &__letter {
    margin: 0;
    width: 10%;
    height: 2em;
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font-keyboard-desktop();
    @include adaptive-font-keyboard();

    @include keyboard-style();

    &--active {
      cursor: pointer;

      &:hover {
        @include keyboard-hover-style();
      }
    }

    &--inactive {
      @include keyboard-inactive-style();
    }
  }
}